/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg,   #ff66c4,#fca8d8,#fde6f6);
    background-color: #f9f9f9;
    color: #333;
}
/*cabecalgo onde fica os coiso la de sobre nos o coiso la de cima*/
header {
    background-color: #fde6f6;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo ne carai*/
.logo img {
    max-width: 50px;
}
/*aqui e foto das muie*/
.guerreiras {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.guerreiras div {
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 300px;
    margin: 10px;
}

.guerreiras img {
    max-width: 150px;
    height: 150px; 
    object-fit: cover;
    border-radius: 50%; /* bordinha redonda aquela pique foto do dc*/
    border: 3px solid #ff66c4; /* cor da borda lindas*/
}

.guerreiras p {
    /* cor do texto e tamanho*/
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.guerreiras h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 55px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover { /*baguio de passar o mouse por cima*/
    color: #ff66c4;
    transition: opacity 0.50s ease-in-out, visibility 0.35s ease-in-out;
}
/*quem somos nos buttom*/
.QSMS-button {
    background-color: #ff4081;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.QSMS-button:hover {
    background-color: #e0356b;
}
/*secao principal*/
.main-section {
    position: relative;
    text-align: center;
}
/*aqui é os coiso daquele banner*/
.slider {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.slide {
    position: relative;
}

.slide img {
    width: 50%;
    height: absolute;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.slide-text h1 {
    font-size: 48px;
    line-height: 1.2;
}
/*aqui e um botao que eu n sei mto bem oq fazer

atualizacao: pensei em fazer o mapa do coiso aqui, oq vcs acham?
*/
.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cta-button {     /*so centralizei o botao e o mapa pq tava dando nos nervo ja fi*/
    background-color: #fde6f6;
    color: #ff66c4;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease; 
    width: 250px; 
    height: 50px;
    text-align: center; 
}

.map-area {
    opacity: 0;
    visibility: hidden; /*usado pa dexa o mapa escondido e invisivel com a opacity no 0*/
    margin-top: 10px;
    transition: opacity 0.6s ease; /* Transição suave para a área do mapa */
    /*n tava tao suanve e mudei pra 0.6*/
}

.cta-button:hover + .map-area {
    opacity: 1;
    visibility: visible;
}

.map-area iframe { /*tamanho do mapa*/
     width: 300px;
    height: 200px; 
}


/* aqui é o sobre */
.about-section {
    background-image: url('fotos e imagens/fundo2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 80px 20px;
    color: white; 
    text-align: center;
    width: 100vw; 
    height: 600px;
    box-sizing: border-box; 
}

.about-section h1 {
    font-size: 2.5em; 
    margin-top: -50px;  
    color: #e0356b; 
}

.about-section p {
    max-width: 800px; 
    margin: 0 auto; 
    font-size: 18px;
    line-height: 1.6; 
    margin-top: 200px; 
}

/*rodape*/
footer {
    background-color:  #c0246c;
    color: white;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

footer .social-media a  { /*usei os icons do bootstrap*/
    color: white;
    width: 30px;
    margin: 0 10px;
    transition: color 0.6s; /*o tempinho da mudanca de cor do icon*/
}

footer .social-media a:hover { /*baguio de passar o mouse por cima*/
    color: #ff66c4;

    }
    
footer p {
    margin-top: 10px;
}
.submenu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.50s ease-in-out, visibility 0.35s ease-in-out;
    
    
  }
  
  .menu li:hover .submenu {
    opacity: 10;
    visibility: visible;
  }
  
  /*aqui é o texto escondido*/
.ibraccam-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.50s ease-in-out, visibility 0.5s ease-in-out;
    background-color:  #fde6f6;
    color: #ff66c4; 
    padding: 30px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
}

/* aqui é pra quadno passar o mouse por cimna ele fazer o coiso aparecer*/
.slider:hover .ibraccam-text {
    opacity: 1;
    visibility: visible;
}


/*setinha build*/
.esquerda {
width: 70px;
position: absolute;
right: 0px;
bottom: 40%;
opacity: 0;
transition: right 0.80s;
}
.direita {
    width: 70px;
position: absolute;
left: 0px;
bottom: 40%;
opacity: 0;
transition: left 0.80s;
}

.slider:hover .esquerda {
right: 170px;
opacity: 1;
}

.slider:hover .direita {
    left: 170px;
    opacity: 1;
    }
